# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/

# Cache directory
cache/

# Logs
logs/
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 
freyr-js/
src_backup/
key
package-lock.json
